# Spring Boot specific
/target/
/build/
/mvnw
/mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar

# IDE specific
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
*.log

# Logs
logs/

# Test coverage reports
*.iml
*.iws
*.ipr

# Dependency directory
/bin/
/lib/

# Compiled Java classes
*.class

# Gradle specific
.gradle/
build/

# Miscellaneous
.DS_Store
